<%- include('partials/header') %>
<main>
  <h1>Modifier une attraction : <%= attraction.name %></h1>

  <form action="/admin/attractions/<%= attraction.id %>" method="POST" enctype="multipart/form-data" class="form-attraction">
    <div>
      <label for="name">Nom de l'attraction</label>
      <input type="text" id="name" name="name" value="<%= attraction.name %>" required>
    </div>
    <div>
      <label for="category">Catégorie</label>
      <select name="category" id="category" required>
        <option value="<%= attraction.categories[0].name%>"><%= attraction.categories[0].name%></option>
        <% const options5 = ["Montagnes russes", "Attractions aquatiques", "Maisons hantées", "Expériences interactives", "Spectacles"]%>
        <% options5.forEach(optionDetail => { %>
          <% if (optionDetail !== attraction.categories[0].name) { %>
            <option value="<%= optionDetail %>"><%= optionDetail %></option>
          <% } %>
          <% }) %>
        </select>
    </div>
    <div>
      <label for="description_short">Description courte</label>
      <textarea rows= "6" cols= "50" id="description_short" name="description_short" required><%= attraction.description_short %></textarea>
    </div>
    <div>
      <label for="description_long">Description longue</label>
      <textarea rows= "10" cols= "100" id="description_long" name="description_long" required><%= attraction.description_long %></textarea>
    </div>
    <div>
      <label for="opening_time">Heure d'ouverture</label>
      <select name="opening_time" id="opening_time" required>
        <option value="<%= attraction.opening_time %>"><%= attraction.opening_time %></option>
        <% const options = ["09:00:00", "10:00:00", "11:00:00", "12:00:00", "13:00:00", "14:00:00"]; %>
        <% options.forEach(optionDetail => { %>
          <% if (optionDetail !== attraction.opening_time) { %>
            <option value="<%= optionDetail %>"><%= optionDetail %></option>
          <% } %>
        <% }) %>
      </select>
    </div>
    <div>
      <label for="closing_time">Heure de fermeture</label>
      <select name="closing_time" id="closing_time" required>
        <option value="<%= attraction.closing_time %>"><%= attraction.closing_time %></option>
        <% const options2 = ["17:00:00", "18:00:00", "19:00:00", "20:00:00", "21:00:00", "22:00:00"]; %>
        <% options2.forEach(optionDetail => { %>
          <% if (optionDetail !== attraction.closing_time) { %>
            <option value="<%= optionDetail %>"><%= optionDetail %></option>
          <% } %>
        <% }) %>
      </select>
    </div>

    <div>
      <label for="disable_access">Accessibilité PMR</label>
      <select name="disable_access" id="disable_access" required>
        <option value="<%= attraction.disable_access %>" selected><%= attraction.disable_access %></option>
        <% const options3 = ["Non accessible aux personnes à mobilité réduite.", "Accessible aux personnes à mobilité réduite.", "Accessible aux personnes à mobilité réduite (parcours adapté)."]; %>
        <% options3.forEach(optionDetail => { %>
          <% if (optionDetail !== attraction.disable_access) { %>
            <option value="<%= optionDetail %>"><%= optionDetail %></option>
          <% } %>
        <% }) %>
      </select>
    </div>

    <div>
      <label for="weather_hazard">Conditions météo</label>
      <textarea cols="50" rows="1" type="text" id="weather_hazard" name="weather_hazard" required><%= attraction.weather_hazard %></textarea>
    </div>


    <div>
      <label for="height_restriction">Restriction de taille</label>
      <select name="height_restriction" id="height_restriction" required>
        <option value="<%= attraction.height_restriction %>" selected><%= attraction.height_restriction %></option>
        <% const options4 = [0, 1.10, 1.20, 1.30, 1.40]; %>
        <% options4.forEach(optionDetail => { %>
          <% if (optionDetail !== attraction.height_restriction) { %>
            <option value="<%= optionDetail.toFixed(2) %>"><%= optionDetail.toFixed(2) %></option>
          <% } %>
        <% }) %>
      </select>
    </div>

    <div>
      <label for="health_hazard">Restriction de santé</label>
      
      <textarea cols="50" rows="1" type="text" id="health_hazard" name="health_hazard" required><%= attraction.health_hazard %></textarea>
    </div>

    <div>
      <label for="image">Photo principale</label>
      <img src="<%= attraction.image %>" alt="<%= attraction.name %>-1">
      <input type="file" name="image" id="image" accept=".webp, .png, .jpeg" >
    </div>

    <div>
      <label for="caroussel1">Photo 2</label>
      <img src="<%= attraction.caroussel1 %>" alt="<%= attraction.name %>-2">
      <input type="file" name="caroussel1" id="caroussel1" accept=".webp, .png, .jpeg" >
    </div>

    <div>
      <label for="caroussel2">Photo 3</label>
      <img src="<%= attraction.caroussel2 %>" alt="<%= attraction.name %>-3">
      <input type="file" name="caroussel2" id="caroussel2" accept=".webp, .png, .jpeg" >
    </div>

    <div>
      <label for="caroussel3">Photo 4</label>
      <img src="<%= attraction.caroussel3 %>" alt="<%= attraction.name %>-4">
      <input type="file" name="caroussel3" id="caroussel3" accept=".webp, .png, .jpeg" >
    </div>

    <button type="submit">Modifier</button>
  </form>
</main>
<%- include('partials/footer') %>