<%- include('partials/header') %>
<main>
  <h1>Liste des réservations</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Rérérence de la réservation</th>
      <th>Membre</th>
      <th>Nombre de ticket</th>
      <th>Prix de la réservation</th>
      <th>Date de la réservation</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
      <% reservations.forEach(reservation => { %>
        <tr>
          <td><%=reservation.id%></td>
          <td><%=reservation.ref_number%></td>
          <td><%=reservation.user.email%></td>
          <td><%=reservation.ticket%></td>
          <td><%=reservation.total_price%></td>
          <td><%=reservation.date%></td>
          <td> <a href="/admin/reservations/<%=reservation.id%>">Modifier</a></td>
          <td>
            <form action="/admin/reservations/del/<%=reservation.id%>" method="post">
              <button type="submit">Supprimer</button>
            </form>
          </td>
        </tr>
        <% }) %>

  </table>
   
</main>
<%- include('partials/footer') %>