<%- include('partials/header') %>

<main>
  <h1>Modifier un utilisateur</h1>

  <form action="/admin/users/<%= user.id %>" method="POST" class="form-user">
    <div>
      <label for="firstname">Prénom</label>
      <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>" required>
    </div>
    <div>
      <label for="lastname">Nom</label>
      <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>" required>
    </div>
    <div>
      <label for="email">Adresse email</label>
      <input type="text" name="email" id="email" value="<%= user.email %>" required>
    </div>
    <div>
      <label for="pseudo">Pseudo</label>
      <input type="text" name="pseudo" id="pseudo" value="<%= user.pseudo %>" >
    </div>
    <div>
      <label for="adress">Adresse</label>
      <input type="text" name="adress" id="adress" value="<%= user.adress %>" >
    </div>
    <div>
      <label for="postal_code">Code postal</label>
      <input type="text" name="postal_code" id="postal_code" value="<%= user.postal_code %>" >
    </div>
    <div>
      <label for="city">Ville</label>
      <input type="text" name="city" id="city" value="<%= user.city %>" >
    </div>
    <div>
      <label for="role">Rôle</label>
      <input type="text" name="role" id="role" value="<%= user.role %>" >
    </div>

    <button class="confirm-update-user-btn" type="submit">Modifier</button>
  </form>
</main>

<%- include('partials/footer') %>
