<%- include('partials/header') %>

<main>
  <h1>Modifier un utilisateur</h1>

  <form action="/admin/users/<%= user.id %>" method="POST" class="form-user">
    <div>
      <label for="firstname">Prénom</label>
      <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>" required>
    </div>
    <div>
      <label for="lastname">Nom</label>
      <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>" required>
    </div>
    <div>
      <label for="email">Adresse email</label>
      <input type="text" name="email" id="email" value="<%= user.email %>" required>
    </div>

    <button class="confirm-update-user-btn" type="submit">Modifier</button>
  </form>
</main>

<%- include('partials/footer') %>
